#dontWrapper {
  width: 22px;
  height: 44px;
  border-left: 15px solid #ffcc99;
  position: fixed;
  right: 100px;
  bottom: 100px;
}
#dontWrapper .back-top-dont {
  box-sizing: content-box;
  position: absolute;
  display: block;
  z-index: 7;
  width: 20px;
  height: 20px;
  border: 1px dashed #CBDFC8;
}
#dontWrapper .back-top-dont::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 6px;
  left: 2px;
  width: 0px;
  height: 0px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.4) transparent;
}
#dontWrapper .back-bottom-dont {
  box-sizing: content-box;
  position: absolute;
  bottom: 0px;
  display: block;
  z-index: 7;
  width: 20px;
  height: 20px;
  border: 1px dashed #CBDFC8;
}
#dontWrapper .back-bottom-dont::after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 2px;
  width: 0px;
  height: 0px;
  border-width: 8px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.4) transparent transparent transparent;
}